@model List<Store>

<table class="table table-striped">
    <thead>
        <tr class="text-center">
            <th class="py-3" scope="col">Номер_магазина</th>
            <th class="py-3" scope="col">Название_магазина</th>
            <th class="py-3" scope="col">Специализация</th>
            <th class="py-3" scope="col">Номер_магазина</th>
            <th class="py-3"  scope="col">Адрес</th>
            <th class="py-3" scope="col">Табельный_номер_директора</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr class="text-center">
                <td class="py-3">@item.StoreId</td>
                <td class="py-3">@item.StoreName</td>
                <td class="py-3">@item.Specialization</td>
                <td class="py-3">@item.Specialization</td>
                <td class="py-3">@item.INN</td>
                <td class="py-3">@item.Address</td>
                <td class="py-3">@item.DirectorId</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Database" asp-action="EditShop" asp-route-id="@item.StoreId" class="btn btn-warning mx-3">Edit</a>
                        <a asp-controller="Database" asp-action="DeleteShop" asp-route-id="@item.StoreId" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-2 d-flex justify-content-center" style="background-color: #202224;">
            <a asp-controller="Database" asp-action="CreateShop">
                <p class="text-white fst-normal my-3">CREATE</p>
            </a>
        </div>
    </div>
</div>